app:
  name: python-api
  replicas: 2

  image:
    repository: python-api
    tag: latest
    pullPolicy: IfNotPresent

  containerPort: 8000

service:
  name: python-api
  type: ClusterIP
  port: 80
  targetPort: 8000

redis:
  enabled: true
  name: redis
  replicas: 2

  image:
    repository: redis
    tag: "7"

  containerPort: 6379

  # PersistentVolumeClaim for Redis
  pvc:
    enabled: true
    name: redis-pvc
    storage: 1Gi
    accessMode: ReadWriteOnce

  # Secret shared by Redis and the App
  secret:
    enabled: true
    name: redis-secret
    password: redis-123

  # ConfigMap shared by Redis and the App
  configMap:
    enabled: true
    name: redis-cm
    host: redis
    port: "6379"

ingress:
  enabled: true
  ingressClassName: nginx
  host: localhost
  path: /api/?(.*)
  pathType: ImplementationSpecific
  servicePort: 80
