apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
spec:
  replicas: {{ .Values.app.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      containers:
        - name: {{ .Values.app.name }}
          image: "{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}"
          imagePullPolicy: {{ .Values.app.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.app.containerPort }}

          envFrom:
            {{- if and .Values.redis.enabled .Values.redis.configMap.enabled }}
            - configMapRef:
                name: {{ .Values.redis.configMap.name }}
            {{- end }}
            {{- if and .Values.redis.enabled .Values.redis.secret.enabled }}
            - secretRef:
                name: {{ .Values.redis.secret.name }}
            {{- end }}
